<!-- <h1>Bootstrap In Angular Using NPM Package Manager</h1>
<br>
<br>
<span class="badge rounded-pill bg-primary">Primary</span>
<span class="badge rounded-pill bg-secondary">Secondary</span>
<span class="badge rounded-pill bg-success">Success</span>
<span class="badge rounded-pill bg-danger">Danger</span>
<span class="badge rounded-pill bg-warning text-dark">Warning</span>
<span class="badge rounded-pill bg-info text-dark">Info</span>
<span class="badge rounded-pill bg-light text-dark">Light</span>
<span class="badge rounded-pill bg-dark">Dark</span> -->
<div class="container">
  <div class="row text-white">
    <div class="col-md-4 bg-danger p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui aliquid distinctio earum ducimus porro asperiores nisi, ipsum repellat, hic fugiat voluptates quis quas minus accusantium similique labore ad suscipit mollitia?</div>
    <div class="col-md-4 bg-success p-4">Lorem ipsum dolor sit amet.</div>
    <div class="col-md-4 bg-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quidem deleniti corporis tenetur numquam? Quo, hic assumenda! Quidem ullam, consequatur, quia cupiditate rem optio distinctio, cum sed officiis unde minus enim repellendus fugiat quibusdam! Distinctio eveniet aliquam velit quidem explicabo.</div>
  </div>
</div>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
